* /* Matches all the elements */
{
	box-sizing: border-box; /* Now, the properties width and height refer to the width and height of the border-box, instead of the default content-box */
}

body
{
	text-align: center;
}

div#topbar
{
	background-color: black;
	width: 100%;
	border-bottom: 3px solid yellow;
	overflow: hidden; /* Forcing the topbar to included the floated children */
	position: sticky; /* Making it relative, so that the children positioned absolutely refer to the topbar when using top, left, bottom and right positionings */
	top: 0;
	padding: 40px 30px;

	transition-duration: 0.3s;
}
/* The topbar not having a defined height is so that it becomes just tall enough to hold it's contents */
div#topbar.shrink
{
	padding: 10px 30px;
}

div#topbar > img
{
	padding: 20px; /* So that the image doesn't touch the edges */
	height: 120px;
	float: left;
}
body
{
	margin: 0;
}
#linksContainer
{
	position: absolute; /* Positioning relative to the topbar */

	right: 30px;

	/* Below: Centre aligning it vertically, relative to the topbar */
	top: 50%;
	transform: translateY(-50%);

	font-size: 20px;
}
a.linked
{
	color: white;
	text-decoration: none;
}

a.linked:hover
{
	color: yellow;
}

a#banner
{
	display: inline-block;
	padding: 20px 0;
}

a#banner > img,
#YoutubeContainer
{
	width: 100vw;
	max-width: 800px;
}

iframe
{
	width: 400px;
	height: calc(400px / 1.6);
	vertical-align: top;
}

#YoutubeContainer
{
	display: inline-block;
	font-size: 0;
}
#YTDesc
{
	display: inline-block;
	width: 400px;
	font-size: 20px;
	padding: 10px;
	vertical-align: top;
	text-align: justify;
}
#itemsContainer
{
	display: inline-block;
	max-width: 800px;
	width: 100%;
	text-align: left;
	font-size: 0;
}
.item
{
	display: inline-block;
	width: 25%;
	padding: 15px;
	font-size: 15px;
}
.item > img
{
	width: 100%;
	border-radius: 5px;
}

@media screen and (max-width: 700px)
{
	iframe, #YTDesc
	{
		width: 100%;
	}
	#YoutubeContainer
	{
		padding: 10px;
	}
	a#banner > img
	{
		padding: 10px;
	}
	#linksContainer
	{
		display: none;
	}
	.item
	{
		width: 50%;
	}

}

#topbar